<h2>Movies</h2>
<% @movies.each do |movie| %>
  <div class="title">
    <p class="title"><%= movie.title %></p>
    <p class="release-date">Release Date: <%= movie.release_date %></p>
  </div>
  <div class="overview">
    <p>Overview:</p>
    <p class="overview"><%= movie.overview %></p>
  </div>
<% end %>
