<div>
  <h1>Welcome to movie search!</h1>
  <p>You can search any movie by full or partial title or use the links from previous searches on the left</p>
  <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
</div>
